.content__container {
  max-width: 1140px;
  min-height: 215px;
  background: #f1f1f1;
  border-radius: 10px;
  margin: 0 auto;
}

.content__title {
  font-weight: 700;
  font-size: 44px;
  padding-top: 25px;
  padding-left: 15px;
}

.navigation__list {
  color: #02535f;
}

.navigation__item:not(:last-child) {
  margin-bottom: 10px;
}

.navigation__link {
  border-bottom: 1px solid #000;
  max-width: 552px;
}