.dom__text {
  margin-bottom: 30px;
}

.dom__img {
  margin-bottom: 30px;
}

.dom__img-small {
  margin: 0 auto 30px;
}

.dom__figure {
  margin-bottom: 30px;
  border-top: 1px solid #000;
}

.dom__figure-text {
  font-weight: 700;
  color: #5e5e5e;
  padding: 15px 0 15px 29px;
  border: 1px solid #000;
  border-top: none;
}

.dom__figure-text span {
  font-weight: 400;
}

.dom__img-section {
  margin: 0 auto 30px;
}

.dom__image-cat {
  margin: 0 auto 30px;
}