.reset__text {
  margin-bottom: 30px;
}

.reset__img-small {
  margin: 0 auto 30px;
}

.reset__img-big {
  margin-bottom: 30px;
}

.reset__img-nav {
  margin-bottom: 30px;
}

.reset__img-medium {
  margin: 0 auto 30px;
}

.reset__img-xs {
  margin: 0 auto 30px;
}

.reset__img-last {
  margin: 0 auto;
}